<!doctype html>
<html>
  <head>
    <title>Cabybara Hub</title>
    <meta charset="utf-8"/>

    <link rel="stylesheet" href="/css/feed.css">
    <link rel="stylesheet" href="/css/index.css">

  </head>
  <body>
    <header>
      <!--Site Name-->
      Capybara Hub
      <!--MyMarist Portal-->
      <div id="portal_button">
        <image id="redfox" src="/images/CapybaraV2.png"></image>
          </div>
  
    </header>
    <main>
      <div id="newsfeed"> </div>
   
    </main>
    <footer>
      <p id="site_info">Capyright &copy; 2022: Capyabara association of Capybara's</p>
    </footer>
      <script src="/js/global.js"></script>
      <script src="/js/feed.js"></script>
  </body>
</html>
