body {
	background-image: url("/images/CapybackgroundV5.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  background-size: cover;
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: rgb(6, 6, 6);
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgba(255, 255, 255);
  text-align: center;
}

.menu_button {
	background-color: rgb(249, 249, 249);
    font-size: 28px;
    color: rgb(6, 6, 6);
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
